@import './variables';
@import './sidebar.scss';
@import './main-body.scss';

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#app {
    height: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}